# Core libraries
numpy
pandas

# Visualization
matplotlib
seaborn

# Machine Learning
scikit-learn

# Jupyter Notebook environment
jupyter

# Report
Power BI software for overall Report.